/*
 GENERAL SYTLES
 */

 $headerColor: #282c34;
 $whiteColor: #ffffff; 

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/*
 NAVBAR SYTLES
 */
 
 .burger {
   cursor: pointer;
 }
 .burger div {
   width: 25px;
   height: 3px;
   background-color: $whiteColor;
   margin: 5px;
 }
 

 /*
 HOME PAGE SYTLES
 */

 .top-image {
   width: 100vw;
   height: 650px;
   background: url(./images/swirls.jpg) top center fixed;
 }

 .main-content {
  background: lighten($headerColor, 10%);
  color: $whiteColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
  padding-top: 30px;
 }

 .section {
   display: flex;
   justify-content: space-around;
   flex: 1;
   padding: 2%;
   width: 80vw;
   max-height: 345px;
   .left-section {
     margin-right: 3%;
     margin-left: 3%;
   }
   .images {
    margin-top: 30px;
  }
 }

 .opposite-section {
   display: flex;
   flex-direction: row-reverse;
 }



 .get-started {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

  /*
 CONTACT US PAGE SYTLES
 */

 .contact-us {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 40%;
   .name-field {
    display: flex;
    flex: 1;
    .first-name {
      margin: 0px 10px 0px 0px;
    }
  }
 }

  /*
  MAIN PAGE SYTLES
 */

 .upload {
   align-self: center;
 }

  /*
  FOOTER SYTLES
 */

 .App-footer {
  background-color: $headerColor;
  min-height: 10vh;
  position: sticky;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}